.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#Container {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  min-height: 80vh;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

/* tabellen */
#Tabel {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Tabel td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Tabel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Tabel tr:hover {
  background-color: #ddd;
}

#Tabel th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff0000;
  color: white;
}


#MissionTabel {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#MissionTabel td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#MissionTabel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#MissionTabel tr:hover {
  background-color: #ddd;
}

#MissionTabel th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff0000;
  color: white;
}

#Rood {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Rood td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Rood tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Rood tr:hover {
  background-color: #ddd;
}

#Rood th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff0000;
  color: white;
}

#Blauw {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Blauw td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Blauw tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Blauw tr:hover {
  background-color: #ddd;
}

#Blauw th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0004eee7;
  color: white;
}

#Geel {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Geel td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Geel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Geel tr:hover {
  background-color: #ddd;
}

#Geel th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fffb00;
  color: rgb(0, 0, 0);
}

#Oranje {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#Oranje td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Oranje tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Oranje tr:hover {
  background-color: #ddd;
}

#Oranje th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff9900;
  color: white;
}

#TabelSmall {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20%;
  text-align: center;
}

#TabelSmall td,
#vehicles th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TabelSmall tr:nth-child(even) {
  background-color: #f2f2f2;
}

#TabelSmall tr:hover {
  background-color: #ddd;
}

#TabelSmall th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff0000;
  color: white;
}